<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @host_preference.name %>
</p>


<%= link_to 'Edit', edit_host_preference_path(@host_preference) %> |
<%= link_to 'Back', host_preferences_path %>
