<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @system_preference.name %>
</p>


<%= link_to 'Edit', edit_system_preference_path(@system_preference) %> |
<%= link_to 'Back', system_preferences_path %>
