<h2>New Customer Information Worksheet</h2>

<h4>
	Please fill in the worksheet below. There are three sections. Just click on the relevant button to fill in that section.
</h4>
	

<%= render 'form' %>

<%= link_to 'Back', companies_path %>
